WP7.Appointments.Service.Proxy/Service References/AppointmentServiceClient/AppointmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WP7.Appointments.Service/AppointmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WP7.Appointments.DataContracts" />
  <xs:element name="GetResourcesByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WP7.Appointments.DataContracts" minOccurs="0" name="GetResourcesByDateResult" nillable="true" type="q1:ArrayOfResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvailableSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvailableSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WP7.Appointments.DataContracts" minOccurs="0" name="GetAllAvailableSlotsResult" nillable="true" type="q2:ArrayOfSlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="resourceId" type="xs:int" />
        <xs:element minOccurs="0" name="slotId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WP7.Appointments.DataContracts" minOccurs="0" name="customer" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>