WP7.Appointments.Service.Proxy/Service References/AppointmentServiceClient/AppointmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppointmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WP7.Appointments.Service/AppointmentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WP7.Appointments.Service/AppointmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WP7.Appointments.Service/AppointmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WP7.Appointments.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppointmentService_GetResourcesByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourcesByDate" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetResourcesByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourcesByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetAllAvailableSlots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAvailableSlots" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetAllAvailableSlots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAvailableSlotsResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_BookAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:BookAppointment" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_BookAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookAppointmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppointmentService">
    <wsdl:operation name="GetResourcesByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/GetResourcesByDate" message="tns:IAppointmentService_GetResourcesByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/GetResourcesByDateResponse" message="tns:IAppointmentService_GetResourcesByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAvailableSlots">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/GetAllAvailableSlots" message="tns:IAppointmentService_GetAllAvailableSlots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/GetAllAvailableSlotsResponse" message="tns:IAppointmentService_GetAllAvailableSlots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/BookAppointment" message="tns:IAppointmentService_BookAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/BookAppointmentResponse" message="tns:IAppointmentService_BookAppointment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppointmentService" type="tns:IAppointmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResourcesByDate">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/GetResourcesByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAvailableSlots">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/GetAllAvailableSlots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookAppointment">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/BookAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppointmentService">
    <wsdl:port name="BasicHttpBinding_IAppointmentService" binding="tns:BasicHttpBinding_IAppointmentService">
      <soap:address location="http://localhost/WP7.Appointments.Service/AppointmentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>